@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
DEFINE BASE COLORS FOR STYLE MODES/DARK MODE etc...
*/

/* FIGURE A CDN SOLUTION FOR IMAGES AS BACKGROUND OR NICER CSS */
.polka-dot-background {
  background-color: #9a9ac7;
  opacity: 0.3;
  background-image: linear-gradient(#aaaaaa 0.7000000000000001px, transparent 0.7000000000000001px),
    linear-gradient(to right, #aaaaaa 0.7000000000000001px, #6e6e6e 0.7000000000000001px);
  background-size: 14px 14px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
}
